@keyframes textg {
    0% {background-position-x:100%;}
    100% {background-position-x: 400%;}
}
@keyframes updown {
    0% {transform: translateY(20px);}
    100% {transform: translateY(-20px);}
}
@keyframes text_bg {
    0% {background-position-x:0;}
    100% {background-position-x: -10000px;}
}
