$color1:yellow;
$color2:#555;
$color3:#623;
@mixin margin1 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
@mixin border1 {
    border: 1px solid salmon;
    border-radius: 70px;
    background-color: salmon;
}
h1 {background-color: cadetblue;}
p {$color2}
ul {
    li{@include border1;
        span{$color3}
        .height {}
        .wright {}
        .normal {}
        .weight2 {}
    }
}