body {
    border: 30px solid #211b1b;
    background-color: #e0dcd2;
}
header {height: 50px; display: flex; justify-content: center;}
header a {margin-right: 80px; font-size: 1.8rem; margin-top: 50px;}
main {}
main .container {height: 100vh;}