#wrap {background-color: gray; padding: 100px;}
#wrap header {background-color: yellow;}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header nav {background-color: pink;}
#wrap header nav ul {}
#wrap header nav ul li {}
#wrap header nav ul li a {display:inline-block; padding:5px;}
#wrap header nav ul li:nth-child(3) {border:2px solid red;}
#wrap header nav ul li:last-child a {border:2px solid blue;}
#wrap header nav > ul > li:first-child > a {
    border:2px solid green;
    color:red;
}
#wrap header nav ul li:nth-last-child(3) a {font-weight: 900;}
#wrap header nav ul li:first-child .lnb li:nth-last-child(2) a {background-color: blueviolet;}
/* #wrap header nav ul li .lnb li:nth-child(3) a {background-color: blueviolet;} 
(이건 안되나? 되는데.. 뭔가 나중에 안되나보다..) */
#wrap main {}
#wrap main section {}
#wrap main section h2 {}
#wrap main section p {}
#wrap main section h2:nth-of-type(2) {
    background-color: bisque;
}
#wrap main section p:nth-last-of-type(1) {
    background-color: azure;
}
#wrap main section p:first-of-type {color: red;}
#wrap main section h2:last-of-type {color: hotpink;}
#wrap main section:nth-child(2) {}
#wrap main section:nth-child(2) .item {font-size:2rem;}
#wrap main section:last-child .item:nth-child(even) {
    background-color: yellow;
}
#wrap main section:last-child .item:nth-child(odd) {
    background-color: lime;
}
#wrap main section:last-child .item:nth-child(3n+1) {
    border:2px solid red;
}
/* 3의배수
내가 쓴 숫자부터 시작함, +1 해주면 1추가 됨
/*
수열선택자2
선택자:nth-child(n) 요소구분x 형제 구분o
선택자:nth-of-type(n) 요소, 형제 구분o
*/





/* 숫자가 들어가면 nth를 꼭 앞에 써야한다 */

/* 
수열선택자
1. nth-child(n) 같은 부모 안 형제 2개 이상일 경우 구분 
(태그가 달라도 구분 가능)
ex) #wrap header h1:nth-child(1) a {}
(여기서는 공백이 자식을 의미 h1의 자식 a)
ex) #wrap header nav ul li:nth-child(3) {}

2. 시작, 끝 수열선택자 first-child, last-child

3. 목록이 많을 경우 뒤에서 세기 nth-last-child(n) 
*/