header {
    background-color: aqua;
    /* overflow:hidden;
    height:100px; */
}
header::after {clear:both; display:block; content:'';}
header h1 
{
    background-color: gray;
    float:left;
}
header form {
    background-color: greenyellow;
    float:left;
}
header .lnb {
    background-color: pink;
    float:right;
}
header .lnb a {}
header .lnb, header h1, header form {
    width:100px; height:100px;
}
main {}
main .path {}
main .path dt {}
main .path dd {}
main .path dd span {}
main .path dd .awesome::after {
    display:inline; content:'\f105';
}
main .path .blog span::after,
main .path .blog span::before {
    display:inline; content:'\f105';
}