header {
    width: 1152px; 
    margin: 0 auto;
}
/* 헤더상단 */
header .top {
    height: 48px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
/* h1,nav 옆으로 보내기 위한 부모대상
justify-content는 필요없음 (왜인지 생각해보기) */
header .top .top_left {
    width: 630px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .top .top_left h1 {padding-bottom: 5px;}
header .top .top_left h1 a {}
header .top .top_left h1 a img {}
header .top .top_left nav {}
header .top .top_left nav a {
    font-weight: bold;
    padding: 0 5px;
}
header .top .top_right {}
header .top .top_right a {
    font-weight: bold;
    padding: 0 5px;
}
/* 헤더하단 왼쪽 */
header .h_btm {
    height: 119px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
header .h_btm h1 {}
header .h_btm h1 a {}
header .h_btm h1 a img {}
header .h_btm #searchFrm {}
/* 원래는 form한테 border만들어주는거임 */
header .h_btm #searchFrm fieldset {
    border: 3px solid #1e6cb3;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
header .h_btm #searchFrm fieldset input {
border:none;
outline:none;
}
header .h_btm #searchFrm fieldset input::placeholder {color: #1e6cb3;}
header .h_btm #searchFrm fieldset .search {
    width: 90%;
}
header .h_btm #searchFrm fieldset .search img {
}
/* 헤더하단 오른쪽 */
header .h_btm .right {}
/* 헤더하단 오른쪽 위 */
header .h_btm .right .r_top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
}
header .h_btm .right .r_top #lang {
    border: 1px solid #1e6cb3;
}
header .h_btm .right .r_top #lang option {
}
header .h_btm .right .r_top #go {
    background: #1e6cb3; color: #fff; width: :36px; height:28px;
}
/* 헤어하단 오른쪽 아래 */
header .h_btm .right .r_btm {}
header .h_btm .right .r_btm p {}
header .h_btm .right .r_btm p:nth-child(1) {
    font-size: 26px;
    font-weight: bold;}
/* 메인 */
main {
}
main .bnr_wrap {
    width: 1152px; 
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .bnr_wrap .left {
    position: relative;
}
main .bnr_wrap .left .bnr {}
main .bnr_wrap .left .bnr img {
}
main .bnr_wrap .left .close {
    position: absolute; bottom:10px; right:10px;
    border: 1px solid #1e6cb3;
    background-color: #1e6cb3;
    border-radius: 5px;
    width: 60px; height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
}
main .bnr_wrap .left .close:hover {background-color: #577fa4;}
main .bnr_wrap .right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main .bnr_wrap .right .corona {
    position: relative;
    display: block;
}
main .bnr_wrap .right .corona img {}
main .bnr_wrap .right .corona span {
    position: absolute;
    display: inline-block;
}
/* 원래는 span에 position absolute 주면 다 밑에꺼 적용돼서 편함~ */
main .bnr_wrap .right .corona .date {
    width: 154px; height: 24px;
    top:13px; right:6px}
main .bnr_wrap .right .corona .result {
    color: #fff;
    text-align: center;
}
main .bnr_wrap .right .corona .result1 {
    width: 141px; height: 26px;
    top:80px; left:30px;
}
main .bnr_wrap .right .corona .result2 {
    width: 141px; height: 26px;
    top:80px; right:29px;
}
main .bnr_wrap .right .corona .result3 {
    width: 94px; height: 26px;
    bottom: 49px; left:30px;
}
main .bnr_wrap .right .corona .result4 {
    width: 94px; height: 26px;
    bottom: 49px; right:119px;
}
main .bnr_wrap .right .corona .result5 {
    width: 60px; height: 26px;
    bottom: 49px; right:31px;
}
main .bnr_wrap .right .bnr {}
main .bnr_wrap .right .bnr img {}
/* 메인2 */
main .service_wrap {width: 1152px; margin: 0 auto;}
main .service_wrap .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 30px 5px 10px 5px;
}
main .service_wrap .title h2 {
    font-size: 26px;
    font-weight: bold;
}
main .service_wrap .title .site {
    border: 1px solid rgb(154, 154, 154);
    padding: 5px 7px;
}
main .service_wrap .contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    }
main .service_wrap .contents a {
    width: 9.09%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
main .service_wrap .contents a .icon {
    background-position-y: -0px;
    width: 60px; height: 60px;
    background: url(../images/icon_service/css_sprites\ \(4\).png) no-repeat; 
}
main .service_wrap .contents a .icon1 {background-position-x:-0;}
main .service_wrap .contents a p {font-size: 80%;}
main .service_wrap .contents a .icon2 {background-position-x:-60px;}
main .service_wrap .contents a .icon3 {background-position-x:-120px;}
main .service_wrap .contents a .icon4 {background-position-x:-180px;}
main .service_wrap .contents a .icon5 {background-position-x:-240px;}
main .service_wrap .contents a .icon6 {background-position-x:-300px;}
main .service_wrap .contents a .icon7 {background-position-x:-360px;}
main .service_wrap .contents a .icon8 {background-position-x:-420px;}
main .service_wrap .contents a .icon9 {background-position-x:-480px;}
main .service_wrap .contents a .icon10 {background-position-x:-540px;}
main .service_wrap .contents a .icon11 {background-position-x:-600px;}
main .service_wrap .contents a p:nth-child(2):hover {color: #1e6cb3;}
/* 메인3 */
main .background {background-color: #eff4f8;
}
main .background .center {
    width: 1152px; 
    margin: 0 auto;
    height: 160px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 60px;
}
main .background .center a {}
main .background .center a img {}
/* 메인4 이벤트포럼 */
main .event {
    width: 1152px; 
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .event .event1 {width:32%;}
main .event .event1 .ev_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 30px 0 20px 0;
}
main .event .event1 .ev_top h2 {
    font-size: 26px;
    font-weight: bold;
}
main .event .event1 .ev_top button {
}
main .event .event1 .ev_top button::after {
    content: "\2b"; font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 7px;
}
main .event .event1 .ev_btt {
    margin-top: 20px;
}
main .event .event1 .ev_btt a {
}
main .event .event1 .ev_btt a p {
    padding-bottom: 15px;
}
main .event .event1 .ev_btt a p:hover {
    text-decoration: underline;
}
main .event .event1 .ev_btt a p span {}
main .event .event2 {width:32%;}
main .event .event2 .ev_top2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 30px 0 20px 0;
}
main .event .event2 .ev_top2 h2 {
    font-size: 26px;
    font-weight: bold;
}
main .event .event2 .ev_top2 button {}
main .event .event2 .ev_top2 button::after {
    content: "\2b"; font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 7px;
}
main .event .event2 .ev_btt2 {
    margin-top: 20px;
}
main .event .event2 .ev_btt2 a {}
main .event .event2 .ev_btt2 a p {
    padding-bottom: 15px;
}
main .event .event2 .ev_btt2 a p:hover {
    text-decoration: underline;
}
main .event .event2 .ev_btt2 a p span {}
main .event .event3 {width:32%;}
main .event .event3 .ev_top3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 0 20px 0;
}
main .event .event3 .ev_top3 h2 {
    font-size: 26px;
    font-weight: bold;
}
main .event .event3 .ev_top3 button {}
main .event .event3 .ev_btt3 {
    background-color: #eff4f8;
    height: 190px;
    display:flex;
    flex-flow: column wrap;
    margin-top: 5px;
    padding-top: 10px;
}
main .event .event3 .ev_btt3 a {}
main .event .event3 .ev_btt3 a p {
    padding-bottom: 8px;
}
main .event .event3 .ev_btt3 a p:hover {
    text-decoration-line: underline;
}
/* 색상주기 */
main .event .blueo {color: #028ab6;}
main .event .greeno {color: #599100;}
main .event .juhua {color: #d76000;}
main .event .redo {color: #c35c3c;}
main .event .purpleo {color: #9b64d3;}
main .event .green2 {color: #069363;}
/* 말줄임 */
main .event span {padding-right: 10px;}
main .event a {
    padding: 5px 10px;
}
main .event p {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}
main .event > * {padding: 20px;}
/* 메인5 아이콘2 */
main .info {
    width: 1152px; 
    margin: 0 auto;
}
main .info .info_top {
    border-bottom: 1px solid #ccc;
    padding: 30px 0 20px 0;
}
main .info .info_top h2 {
    font-size: 26px;
    font-weight: bold;
}
main .info .info_bt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 20px;
}
main .info .info_bt a {
}
main .info .info_bt a .ico {
    width: 84px; height: 91px;
    background: url(../images/icon_set/css_sprites\ \(5\).png) no-repeat;
    background-position-y:0;
}
main .info .info_bt a .ico1 {background-position-x:0;}
main .info .info_bt a .ico2 {background-position-x:-84px;}
main .info .info_bt a .ico3 {background-position-x:-168px;}
main .info .info_bt a .ico4 {background-position-x:-252px;}
main .info .info_bt a .ico5 {background-position-x:-336px;}
main .info .info_bt a .ico6 {background-position-x:-420px;}
main .info .info_bt a .ico7 {background-position-x:-504px;}
main .info .info_bt a .ico8 {background-position-x:-588px;}
main .info .info_bt a p {
    width:84px;
    text-align: center;
}
main .info .info_bt a p:hover {color: #028ab6;}
/* 메인6 새소식 */
main .news {
    width: 1152px; 
    margin: 0 auto;
}
main .news .news_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 15px;
}
main .news .news_title h2 {
    font-size: 26px;
    font-weight: bold;
}
main .news .news_title .site {
    border: 1px solid #ccc;
    padding: 2px 5px;
}
main .news .ne_btt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
/* 이미지후버 */
main .news .ne_btt a {
width: 23.5%;
overflow: hidden;
}
main .news .ne_btt a p {
    position: relative;
}
main .news .ne_btt a p img {
width: 100%;
transition: all 0.5s;
}
main .news .ne_btt a:hover p img {
transform: scale(1.1);
}
main .news .ne_btt a p:first-child {
    height: 180px;
    overflow: hidden;
}
/* 이미지후버 */
main .news .ne_btt a p {
    width: 273px; 
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 27px;
    margin-bottom: 5px;
}
/* footer */
footer {
    width: 1152px; 
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}
/* footer 위에 */
footer .f_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
footer .f_top .f_t_left {}
footer .f_top .f_t_left a {
    color: rgb(108, 108, 108);
    display: inline-block;
    padding-left: 6px;
}
footer .f_top .f_t_left a:nth-child(2) {color: black;}
footer .f_top .f_t_left a p::after {
    display: inline-block;
    width: 1px; height: 8px;
    background-color: black;
    content: '';
    margin-left: 10px;
}
footer .f_top .f_t_left a:last-child p::after {display: none;}
footer .f_top .f_t_left a p {font-size: 14px;}
footer .f_top .f_t_right {}
footer .f_top .f_t_right a {padding-left: 5px;}
footer .f_top .f_t_right a p {display: inline-block;}
footer .f_top .f_t_right a .ic {
    width: 25px; height: 25px;
    background: url(../images/icon_sns2/css_sprites\ \(6\).png) no-repeat;
    background-position-y:0;
}
footer .f_top .f_t_right a .ic1 {background-position-x:0;}
footer .f_top .f_t_right a .ic2 {background-position-x:-25px;}
footer .f_top .f_t_right a .ic3 {background-position-x:-50px;}
footer .f_top .f_t_right a .ic4 {background-position-x:-75px;}
footer .f_top .f_t_right a .ic5 {background-position-x:-100px;}
footer .f_top .f_t_right a .ic6 {background-position-x:-125px;}
/* sns 후버 색상용 */
footer .f_top .f_t_right a .ic:hover {
    width: 25px; height: 25px;
    background: url(../images/icon_sns2/css_sprites\ \(5\).png) no-repeat;
    background-position-y:0;
}
footer .f_top .f_t_right a .ic1:hover {background-position-x:0;}
footer .f_top .f_t_right a .ic2:hover {background-position-x:-25px;}
footer .f_top .f_t_right a .ic3:hover {background-position-x:-50px;}
footer .f_top .f_t_right a .ic4:hover {background-position-x:-75px;}
footer .f_top .f_t_right a .ic5:hover {background-position-x:-100px;}
footer .f_top .f_t_right a .ic6:hover {background-position-x:-125px;}
/* footer 아래 */
footer .f_btt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 0;
    margin-bottom: 40px;
}
footer .f_btt .f_b_left {
    display: flex;
    flex-flow: row nowrap;
}
footer .f_btt .f_b_left p {padding-right: 10px;}
footer .f_btt .f_b_left p img {}
footer .f_btt .f_b_left .adr {}
footer .f_btt .f_b_left address {font-size: 14px;}
footer .f_btt .f_b_left p {font-size: 14px;}
footer .f_btt .f_b_right {}
footer .f_btt .f_b_right a {}
footer .f_btt .f_b_right a img {}
/* width 속성의 경우-> 왼쪽상단 기준점으로 인해
우측하단으로만 이미지가 확대된다. */
/* trasform속성은 기준점을 요소의 중심으로 인식한다. */
/* transition 은 css 수치값이 변화가 일어날때 애니메이션 적용
ex)100->110값변화 o
ex)row->column 값변화 x */
#up {position: fixed; right:50px; bottom:50px; z-index:9999;}
/* z-index에 꼭 단위 붙히면 안된다!! */